/* Default styles for the container */
.container {
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding and border in the total width */
}
.main-container{
  padding-top: 100px;

}

/* Media query for screens smaller than 768px (tablets and phones) */
@media (max-width: 768px) {
  .container {
    padding: 0 10px; /* Reduce padding for smaller screens */
  }
}

/* Media query for screens smaller than 576px (phones) */
@media (max-width: 576px) {
  .container {
    padding: 0 5px; /* Further reduce padding for smaller screens */
  }
}
.post-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.carousel-box{
  margin:20px 0px;
}